@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=greek,latin,cyrillic-ext,cyrillic);
body {
  font-family: $rBlack;
  font-weight: 600;
}

// Floats
.f {

  &l {
    float: left;
  }

  &r {
    float: right;
  }
}

// Btns
.btn {
}

// Main container
.main-container {
  width: 1440px;
  margin: 0 auto;
  @extend %clearfix;
}

// Inputs
.input {

  &-wrap {
  }

  &-text {
  }
}

.textarea {
}

// Radio input
.radio-wrap {

  input[type='radio'] {
    display: none;
    &:checked + .radio-wrap__label {
      &:after {
      }
    }
  }

  &__label {

    &:before,
    &:after {
    }

    &:before {
    }

    &:after {
    }
  }
}

// media
.media {
  display: table;
  width: 100%;
  box-sizing: border-box;

  &-top {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
  }

  &-middle {
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
  }
}

// Title
.main-title {
}

// Text content
.text-content {
}


// tape borders

.tape-yellow {

  &__low {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      background-image: url(../images/icons/yellow-low.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -14px 0;
    }
  }

  &__mid {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      bottom: -3px;
      width: 19px;
      background-image: url(../images/icons/yellow-middle.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -24px 0;
    }
  }

  &__high {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 29px;
      background-image: url(../images/icons/yellow-high.png);
      background-size: auto 100%;
      left: 100%;
    }

  }
}

.tape-trans {

  &__mid {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      bottom: -3px;
      width: 19px;
      background-image: url(../images/icons/trans-middle.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -24px 0;
    }

  }
}