@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=greek,latin,cyrillic-ext,cyrillic);

* {
	box-sizing: border-box;
}

body {
  font-family: $rBlack;
  font-weight: 600;
  background: url(../images/bg/settings-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

// Floats
.f {

  &l {
    float: left;
  }

  &r {
    float: right;
  }
}

// Main container
.main-container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  @extend %clearfix;
  box-sizing: border-box;

  @media #{$desk1440} {
    width: 1250px;
  }

  @media #{$desk1250} {
    width: 992px;
  }

  @media #{$desk992} {
    width: 768px;
    padding: 0 20px;
  }

	@media #{$mobile768} {
		width: 100%;
	}
}

// Inputs
.input {

  &-wrap {
  }

  &-text {
  }
}

input {
  &::-webkit-input-placeholder {transition: $trans}
  &::-moz-placeholder          {transition: $trans}
  &:-moz-placeholder           {transition: $trans}
  &:-ms-input-placeholder      {transition: $trans}

  &:focus {
    &::-webkit-input-placeholder {opacity: 0}
    &::-moz-placeholder          {opacity: 0}
    &:-moz-placeholder           {opacity: 0}
    &:-ms-input-placeholder      {opacity: 0}
  }
}

.search {
	border: 2px solid $white;
	position: relative;
	box-shadow: inset 0 0 0 1px $grayd7;

	&-input {
		display: block;
		background: none;
		font-size: 18px;
		color: $white;
		padding: 7px 50px 8px 15px;
		border: none;
		width: 100%;
		outline: none;

		&::-webkit-input-placeholder {color:$white;}
		&::-moz-placeholder          {color:$white;}
		&:-moz-placeholder           {color:$white;}
		&:-ms-input-placeholder      {color:$white;}
	}

	&-btn {
		position: absolute;
		right: 0;
		bottom: -2px;
		top: -2px;
		width: 37px;
		display: block;
		border: none;
		border-radius: 0;
		background: $white;
		font-size: 20px;
		color: $blue16;
		outline: none;
		cursor: pointer;
		transition: $trans;
		box-shadow: none;

		&:before,
		&:after {
			content: '';
			position: absolute;
			right: 100%;
			border: 5px solid transparent;
			border-top-width: 10px;
			border-bottom-width: 10px;
			border-right-color: $white;
		}
		
		&:before {
			top: 0;
			border-top-color: $white;
		}
		
		&:after {
			bottom: 0;
			border-bottom-color: $white;
		}
		
		&:hover {
			opacity: .85;
		}
	}
	
	&.search-large {
		.search-input {
			font-size: 25px;
			padding: 12px 65px 12px 15px;
		}
		
		.search-btn {
			font-size: 28px;
			width: 50px;
			
			&:before,
			&:after {
				border-top-width: 15px;
				border-bottom-width: 15px;
				border-left-width: 8px;
				border-right-width: 8px;
			}
		}
	}
}

// Radio input
.radio-wrap {

  input[type='radio'] {
    display: none;
    &:checked + .radio-wrap__label {
      &:after {
      }
    }
  }

  &__label {

    &:before,
    &:after {
    }

    &:before {
    }

    &:after {
    }
  }
}

// media
.media {
  display: table;
  width: 100%;
  box-sizing: border-box;

  &-top {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
  }

  &-middle {
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
  }
}

// Title
.main-title {
}

// Text content
.text-content {
}


// tape borders

.tape-yellow {

  &__low {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      background-image: url(../images/icons/yellow-low.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -14px 0;
    }
  }

  &__mid {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      bottom: -3px;
      width: 19px;
      background-image: url(../images/icons/yellow-middle.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -24px 0;
    }
  }

  &__high {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 29px;
      background-image: url(../images/icons/yellow-high.png);
      background-size: auto 100%;
      left: 100%;
    }

  }
}

.tape-trans {

  &__mid {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      bottom: -3px;
      width: 19px;
      background-image: url(../images/icons/trans-middle.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -24px 0;
    }

  }
}

.tape-pink {

  &__mid {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 16px;
      background-image: url(../images/icons/pink-middle.png);
      background-size: auto 100%;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
      background-position: -22px 0;
    }

  }
}

// tabs

.tabs {

  &-list {
    position: relative;
    z-index: 1;
  }

  &-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
      transition: $trans;
    }
  }
}

// section line
.fangs-line {
  position: relative;

  &:before {
    content: '';
    left: 0;
    right: 0;
    height: 7px;
    bottom: 100%;
    display: block;
    position: absolute;
		background-repeat: repeat-x;
		background-image: url(../images/icons/fangs.png);
  }
}

.zigzag {
	display: block;
	width: 100%;
	height: 10px;
	background-image: url(../images/icons/zigzag.png);
	background-repeat: repeat-x;
  border: none;
	
	&-yellow {
		background-position: 0 0;
	}
	
	&-red {
		background-position: 0 -11px;
	}
	
	&-gray {
		background-position: 0 -22px;
	}
}


// help block

.b-help {
  background-color: $blue2b;

  &-body {
    padding: 15px 24px 10px 35px;
  }

  &-title {
    background-color: $yellowd5;
    font-size: 13px;
    color: $violet2e;
    text-transform: uppercase;
    font-family: $rBlack;
  }
}

// dropdown

.dropdown-wrap {
  position: relative;

  &.dropdown-open .dropdown {
		display: block;
    visibility: visible;
    opacity: 1;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
	display: none;
  z-index: 10;
  transition: $trans;
}

@-moz-keyframes rotate { 
	100% { 
		-moz-transform: rotate(360deg); 
	}
}
@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		transform:rotate(360deg);
	}
}