.btn {
	display: inline-block;
	font-family: $rBlack;
	outline: none;
	transition: all 0.3s linear;
	border: none;
	cursor: pointer;
	
	&-tape {
		position: relative;
		color: $gray1d;
    font-size: 18px;
    text-transform: uppercase;
    background-color: $yellowd5;
    padding: 9px 19px;
    margin: 0 10px;
    text-decoration: none;
		text-align: center;
		
		&:hover {
			opacity: .7;
		}
		
		&__mark {
			&:before,
			&:after {
				content: '';
				position: absolute;
				border: solid transparent;
				border-width: 9px;
				border-left-width: 5px;
				border-right-width: 5px;
				transition: all 0.3s linear;
			}
			
			&:before {
				top: 0;	
			}
			
			&:after {
				bottom: 0;
			}
		}
		
		&__left {
			&:before,
			&:after {
				right: 100%;
				border-right-color: $yellowd5;
			}
			
			&:before {
				border-top-color: $yellowd5;
			}
			
			&:after {
				border-bottom-color: $yellowd5;
			}
		}

		&__right {
			&:before,
			&:after {
				left: 100%;
				border-left-color: $yellowd5;
			}
			
			&:before {
				border-top-color: $yellowd5;
			}
			
			&:after {
				border-bottom-color: $yellowd5;
			}
		}
		
		&__large {
			font-size: 25px;
			padding: 17px 25px;
			margin: 0 15px;
			
			.btn-tape__mark {
				&:before,
				&:after {
					border-width: 15px;
					border-left-width: 8px;
					border-right-width: 8px;
				}
			}
		}
		
		&__border {
			box-shadow: 0 0 0 3px $yellowd5;
			color: $yellowd5;
			background: $violet16;
			padding: 15px 25px;
			margin: 0 20px;
				
			&:hover {

			}
			
			.btn-tape__mark {
				&:before,
				&:after {
					border-width: 20px;
					border-left-width: 10px;
					border-right-width: 10px;
				}
				
				&:before {
					top: -3px;	
				}

				&:after {
					bottom: -3px;
				}
				
				&.border-left,
				&.border-right {
					&:before,
					&:after {
						content: '';
						position: absolute;
						border: solid transparent;
						border-width: 14px;
						border-left-width: 7px;
						border-right-width: 7px;
						transition: all 0.3s linear;
						z-index: 5;
					}

					&:before {
						top: 0;	
					}

					&:after {
						bottom: 0;
					}
				}
				
		&.border-left {
			&:before,
			&:after {
				right: 100%;
				border-right-color: $violet16;
			}
			
			&:before {
				border-top-color: $violet16;
			}
			
			&:after {
				border-bottom-color: $violet16;
			}
		}

		&.border-right {
			&:before,
			&:after {
				left: 100%;
				border-left-color: $violet16;
			}
			
			&:before {
				border-top-color: $violet16;
			}
			
			&:after {
				border-bottom-color: $violet16;
			}
		}
			}
		}

		&__low {
			font-size: 18px;
			padding: 6px 0;
			margin: 0 10px;
			
			.btn-tape__mark {
				&:before,
				&:after {
					border-width: 18px;
					border-left-width: 10px;
					border-right-width: 10px;
				}
			}
		}
		
		&__gray {
			background: $gray1d;
			color: $yellowd5;
			
			.btn-tape__left {
				&:before,
				&:after {
					border-right-color: $gray1d;
				}

				&:before {
					border-top-color: $gray1d;
				}

				&:after {
					border-bottom-color: $gray1d;
				}
			}

			.btn-tape__right {
				&:before,
				&:after {
					border-left-color: $gray1d;
				}

				&:before {
					border-top-color: $gray1d;
				}

				&:after {
					border-bottom-color: $gray1d;
				}
			}
			
			&:hover {
				opacity: .85;
			}
		}
		
		&__pink {
			background: #fb66c9;
			color: $pink93;
			
			.btn-tape__left {
				&:before,
				&:after {
					border-right-color: #fb66c9;
				}

				&:before {
					border-top-color: #fb66c9;
				}

				&:after {
					border-bottom-color: #fb66c9;
				}
			}

			.btn-tape__right {
				&:before,
				&:after {
					border-left-color: #fb66c9;
				}

				&:before {
					border-top-color: #fb66c9;
				}

				&:after {
					border-bottom-color: #fb66c9;
				}
			}
			
			&:hover {
				opacity: .85;
			}
		}
	}
}