// Mix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Fonts

// Colors
$white: #fff;
$black: #000;
// Gray
$gray1d: #1d1727;

// Violet
$violet2e: #2e3485;
$violet20: #202347;
$violet27: #272b66;

// Yellow
$yellowbb: #bbc13d;
$yellowd5: #d5dd27;
$yellowd8: #d8df2e;

// trans
$trans: .2s;

// media
$desk1440: "only screen and (max-width : 1440px)";
$desk1250: "only screen and (max-width : 1250px)";
$desk992: "only screen and (max-width : 992px)";