// Mix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Fonts

// Colors
$white: #fff;
$black: #000;
// Gray
$gray1d: #1d1727;
$gray20: #20232e;

// Violet
$violet2e: #2e3485;
$violet20: #202347;
$violet27: #272b66;
$violet16: #16091F;
$violet1e: #1e1845;
$violet82: #8272f0;
// Yellow
$yellowbb: #bbc13d;
$yellowd5: #d5dd27;
$yellowd8: #d8df2e;
$yellowfc: #fcffb0;

// Blue
$blue01: #010963;
$blue00: #00aeef;

// Green
$green86: #86b70f;
$greene7: #e7feaf;

// Pink
$pinkff: #ff95d6;
$pinkc8: #c82087;
$pink93: #93025b;

// trans
$trans: .2s;

// media
$desk1440: "only screen and (max-width : 1440px)";
$desk1250: "only screen and (max-width : 1250px)";
$desk992: "only screen and (max-width : 992px)";

// Fonts
$roboto: 'Roboto', sans-serif;
$rBlack: 'Roboto-Black';
$aBold: 'Arial-bold';

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;