.autho-section {
  background: url(../images/bg/authorization-bg.jpg) center top;
  padding-top: 78px;
  padding-bottom: 115px;

  &__title {
    font-size: 60px;
    color: $blue01;
    background-color: $yellowd8;
    display: inline-block;
    padding: 24px 35px 26px 100px;
    padding: 24px 35px 26px 100px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 60px;
    color: $yellowd8;
    padding-left: 100px;
    text-transform: uppercase;
    line-height: 1.1;

    span {
      font-size: 132px;
    }
  }

  &__box {
    float: right;
    margin: 120px-75px 70px 0 0;
    background-color: rgba($violet16, .8);
    padding: 40px 30px 25px 25px;
    width: 345px;
    box-sizing: border-box;
    position: relative;
		
		.btn {
			display: block;
			margin-bottom: 22px;
			margin-top: 22px;
		}

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 6px;
      background-image: url(../images/icons/autho-box-tape.png);
      opacity: .8;
    }

    &:before {
      bottom: 100%;
    }

    &:after {
      top: 100%;
      background-position: 0 -10px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    margin: 22px 19px;
    text-decoration: none;
    border-top: 3px solid $yellowd8;
    border-bottom: 3px solid $yellowd8;
    font-size: 25px;
    text-transform: uppercase;
    padding: 14px 0;
    transition: color .2s linear;
  }

  &__log {
    color: $yellowd8;

    &:hover {
      background-color: $yellowd8;
      color: $violet20;

      &:before,
      &:after {
        background-image: url(../images/icons/yellow-middle.png);
      }
    }
  }

  &__sig {
    color: $violet20;
    background-color: $yellowd8;

    &:hover {
      background: none;
      color: $yellowd8;

      &:before,
      &:after {
        background-image: url(../images/icons/trans-middle.png);
      }
    }
  }
}

.quote {

  &-help {
    position: absolute;
    right: 0;
  }

  &-section {
    background: url(../images/bg/quote-bg.jpg) center top;
    padding: 45px 0;

    &.fangs-line {
      &:before {
        background-position: center -45px;
      }
    }

    &__text {
      font-size: 50px;
      color: $blue00;
      text-transform: uppercase;
      width: 950px;
      line-height: 1.15;
      padding: 85px 0 0 100px;
      position: relative;

      &:before {
        content: '';
        background: url(../images/icons/quote-icon.png) no-repeat;
        background-size: cover;
        width: 86px;
        height: 66px;
        font-size: 220px;
        position: absolute;
        top: -5px;
        left: 55px;
        font-family: $aBold;
      }
    }

    &__name {
      font-size: 35px;
      color: $blue00;
      text-align: right;
      padding-right: 100px;
      margin-top: 20px;
    }
  }
}

.service {

  &-section {
    background: url(../images/bg/service-bg.jpg) center top;
    padding: 30px 0 60px;

    &.fangs-line {
      
      &:before {
        background-position: center -36px;
      }
    }
  }

  &-list {
    @extend %clearfix;
    width: 1250px;
    margin: 0 auto;

    @media #{$desk1440} {
      width: 100%;
    }

    &__top {
      height: 290px;
      width: 290px;
      text-align: center;
      font-size: 40px;
      color: $white;
      background-size: 100%;
      margin: 0 auto;
      background-repeat: no-repeat;

      span {
        font-size: 80px;
      }

      .fa {
        font-size: 129px;
      }

      &.dark-text {
        color: $gray20;
      }
    }

    &__item {
      float: left;
      width: 290px;
      margin: 25px 25px 25px 0;

      &:nth-child(4n) {
        margin-right: 0;
        clear: right;
      }

      &:nth-child(4n+1) {
        clear: left;
      }

      @media #{$desk1250} {
        margin-left: 20px;
        margin-right: 20px;

        &:nth-child(4n) {
          margin-right: 20px;
          clear: none;
        }

        &:nth-child(4n+1) {
          clear: none;
        }
        &:nth-child(3n) {
          margin-right: 20px;
          clear: right;
        }

        &:nth-child(3n+1) {
          clear: left;
        }
      }

      @media #{$desk992} {
        margin-left: 0;
        margin-right: 0;
        width: 50%;
        padding: 0 20px;

        &:nth-child(3n) {
          margin-right: 0;
          clear: none;
        }

        &:nth-child(3n+1) {
          clear: none;
        }
        &:nth-child(2n) {
          margin-right: 0;
          clear: right;
        }

        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }

    &__text {
      font-size: 18px;
      text-transform: uppercase;
      color: $gray20;
      margin-top: 30px;
      line-height: 1.2;
    }
  }
}

.commiss {
  &-section {
    background: url(../images/bg/commission-bg.jpg) center top;
    color: $pinkff;
    padding: 70px 0 50px;

    .main-container {
      padding: 0 95px;

      @media #{$desk1440} {
        padding: 0;
      }
    }

    &.fangs-line {
      
      &:before {
        background-position: center -27px;
      }
    }
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
  }

  &-text {
    font-size: 35px;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &-list {
    @extend %clearfix;
    margin: 35px 0;

    @media #{$desk1250} {
      margin: 35px 32px;
    }

    @media #{$desk992} {
      margin: 35px 80px;
    }

    &__item {
      float: left;
      width: 288px;
      margin: 20px 32px 20px 0;
      height: 210px;
      position: relative;

      &:nth-child(4n) {
        margin-right: 0;
      }

      @media #{$desk1250} {

        &:nth-child(4n) {
          margin-right: 32px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media #{$desk992} {

        &:nth-child(3n) {
          margin-right: 32px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      &.pink {
        background-color: $pinkc8;
        color: $pinkff;

        .commiss-list__footer {
          color: $pinkc8;
          background-color: $pinkff;
        }
      }

      &.violet {
        background-color: $violet1e;
        color: $violet82;

        .commiss-list__footer {
          color: $violet1e;
          background-color: $violet82;

          &:before {
            background-position: 0 -13px;
          }
        }
      }

      &.green {
        background-color: $green86;
        color: $greene7;

        .commiss-list__footer {
          color: $green86;
          background-color: $greene7;

          &:before {
            background-position: 0 -23px;
          }
        }
      }

      &.yellow {
        background-color: $yellowd8;
        color: $yellowfc;

        .commiss-list__footer {
          color: $yellowd8;
          background-color: $yellowfc;

          &:before {
            background-position: 0 -33px;
          }
        }
      }
    }

    &__text {
      font-size: 80px;
      text-align: center;
      color: inherit;
      margin-top: 40px;
    }

    &__footer {
      background-color: $white;
      font-size: 18px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 18px 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 7px;
        right: 0;
        background-image: url(../images/icons/com-items-border.png);
        background-position: 0 -3px;
      }
    }
  }

  &-footer {
    text-align: center;
    padding-top: 18px;
  }

	&-button {
		text-align: center;
		.btn {
			width: 280px;
		}
	}
}

.contacts {
  &-section {
    background: url(../images/bg/contacts-bg.jpg) center top;
    padding: 70px 0 25px;
    color: $blue18;

    .main-container {
      padding: 0 60px;

      @media #{$desk1250} {
        padding: 0 20px;
      }
    }

    &.fangs-line {
      
      &:before {
        background-position: center -9px;
      }
    }
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
  }

  &-text {
    font-size: 35px;
    margin-top: 25px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &-list {
    text-align: center;
    margin-top: 20px;

    @media #{$desk992} {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__item {
      display: inline-block;
      float: none;
      vertical-align: top;
      margin: 25px 15px;

      @media #{$desk992} {
        margin-left: 0;
        margin-right: 0;
        float: left;
      }

      &.pink {
        .contacts-list__text {
          color: $pinkd9;
        }
      }

      &.gray {
        .contacts-list__text {
          color: $gray20;
        }
      }

      .fa {
        font-size: 144px;
      }
    }

    &__text {
      margin-top: 35px;
      font-size: 25px;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}