.autho-section {
  background: url(../images/authorization.png) center top repeat-x;
  padding-top: 78px;
  padding-bottom: 123px;
  position: relative;
  z-index: 1;

  &__title {
    font-size: 60px;
    color: $blue01;
    background-color: $yellowd8;
    display: inline-block;
    padding: 24px 35px 26px 100px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 60px;
    color: $yellowd8;
    padding-left: 100px;
    text-transform: uppercase;
    line-height: 1.1;

    span {
      font-size: 132px;
    }
  }

  &__box {
    float: right;
    margin: 120px-75px 70px 0 0;
    background-color: rgba($violet16, .8);
    padding: 40px 30px 25px 25px;
    width: 345px;
    box-sizing: border-box;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 6px;
      background-image: url(../images/icons/autho-box-tape.png);
      opacity: .8;
    }

    &:before {
      bottom: 100%;
    }

    &:after {
      top: 100%;
      background-position: 0 -10px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    margin: 22px 19px;
    text-decoration: none;
    border-top: 3px solid $yellowd8;
    border-bottom: 3px solid $yellowd8;
    font-size: 25px;
    text-transform: uppercase;
    padding: 14px 0;
    transition: color .2s linear;
  }

  &__log {
    color: $yellowd8;

    &:hover {
      background-color: $yellowd8;
      color: $violet20;

      &:before,
      &:after {
        background-image: url(../images/icons/yellow-middle.png);
      }
    }
  }

  &__sig {
    color: $violet20;
    background-color: $yellowd8;

    &:hover {
      background: none;
      color: $yellowd8;

      &:before,
      &:after {
        background-image: url(../images/icons/trans-middle.png);
      }
    }
  }
}

.quote-section {
  background: url(../images/quote.png) center top repeat-x;
  margin-top: -8px;
  padding: 45px 0;

  &__text {
    font-size: 50px;
    color: $blue00;
    text-transform: uppercase;
    width: 950px;
    line-height: 1.1;
    padding: 100px 0 0 100px;
    position: relative;

    &:before {
      content: '"';
      font-size: 220px;
      position: absolute;
      top: 0;
      left: 70px;
      font-family: $aBold;
    }
  }

  &__name {
    font-size: 35px;
    color: $blue00;
    text-align: right;
    padding-right: 100px;
  }
}

.service {

  &-section {
    background: url(../images/service.png) center top repeat-x;
    margin-top: -10px;
    padding: 30px 0 60px;
  }

  &-list {
    @extend %clearfix;
    width: 1250px;
    margin: 0 auto;

    &__top {
      height: 290px;
      text-align: center;
      font-size: 40px;
      color: $white;
      background-size: 100%;
      background-repeat: no-repeat;

      span {
        font-size: 80px;
      }

      .fa {
        font-size: 129px;
      }

      &.dark-text {
        color: $gray20;
      }
    }

    &__item {
      float: left;
      width: 290px;
      margin: 25px 25px 25px 0;

      &:nth-child(4n) {
        margin-right: 0;
        clear: right;
      }

      &:nth-child(4n+1) {
        clear: left;
      }
    }

    &__text {
      font-size: 18px;
      text-transform: uppercase;
      color: $gray20;
      margin-top: 30px;
      line-height: 1.2;
    }
  }
}

.commiss {

  &-section {
    background: url(../images/commission.png) center top repeat-x;
    margin-top: -10px;
    color: $pinkff;
    padding: 70px 0 60px;

    .main-container {
      padding: 0 95px;
    }
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
  }

  &-text {
    font-size: 35px;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &-list {
    @extend %clearfix;
    margin: 35px 0;

    &__item {
      float: left;
      width: 288px;
      margin: 20px 32px 20px 0;
      height: 210px;
      position: relative;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &.pink {
        background-color: $pinkc8;
        color: $pinkff;

        .commiss-list__footer {
          color: $pinkc8;
          background-color: $pinkff;
        }
      }

      &.violet {
        background-color: $violet1e;
        color: $violet82;

        .commiss-list__footer {
          color: $violet1e;
          background-color: $violet82;

          &:before {
            background-position: 0 -13px;
          }
        }
      }

      &.green {
        background-color: $green86;
        color: $greene7;

        .commiss-list__footer {
          color: $green86;
          background-color: $greene7;

          &:before {
            background-position: 0 -23px;
          }
        }
      }

      &.yellow {
        background-color: $yellowd8;
        color: $yellowfc;

        .commiss-list__footer {
          color: $yellowd8;
          background-color: $yellowfc;

          &:before {
            background-position: 0 -33px;
          }
        }
      }
    }

    &__text {
      font-size: 80px;
      text-align: center;
      color: inherit;
      margin-top: 40px;
    }

    &__footer {
      background-color: $white;
      font-size: 18px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 18px 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 7px;
        right: 0;
        background-image: url(../images/icons/com-items-border.png);
        background-position: 0 -3px;
      }
    }
  }

  &-footer {
    text-align: center;
    padding-top: 18px;
  }

  &-link {
    color: $pink93;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $pinkff;
    padding: 17px 10px;
    display: block;
    margin: 0 auto;
    width: 260px;
    box-sizing: border-box;
    text-align: center;
  }
}

.faq {

  &-section {
    background: url(../images/faq.png) center top repeat-x;
    margin-top: -10px;
    color: $white;
    padding: 77px 0 120px;
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 335px;
  }

  &-body {
    @extend %clearfix;
    margin-top: 70px;
  }

  &-list {
    float: left;
    width: 336px;
    box-sizing: border-box;
    padding: 5px 25px 0;
    font-size: 18px;

    &__item {
      color: rgba($white, .5);
      text-transform: uppercase;
      transition: $trans;
      margin-bottom: 45px;
      cursor: pointer;
      
      span {
        position: relative;
        display: inline;

        &:after {
          content: '';
          position: absolute;
          height: 12px;
          left: 0;
          right: 0;
          top: 100%;
          padding-top: 10px;
          transition: $trans;
          background: url(../images/icons/faq-item-line.png) left bottom repeat-x;
          opacity: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active,
      &:hover {
        color: $yellowc4;

        span {
          &:after {
            opacity: 1;
          }
        }
      }
    }

    .fa {
      width: 30px;
    }
  }

  &-tab {

    &s__sections {
      margin-left: 336px;
      position: relative;
      font-size: 25px;
      margin-right: 90px;

      .faq-tab__title:first-of-type {
        margin-top: 0;
      }
    }

    &__title {
      color: $yellowd5;
      margin: 45px 0 20px;
    }

    &__text {
      line-height: 1.2;
    }
  }
}

.contacts {

  &-section {
    background: url(../images/contacts.png) center top repeat-x;
    margin-top: -10px;
    padding: 60px 0 55px;
    color: $blue18;
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
  }

  &-text {
    font-size: 35px;
    margin-top: 20px;
  }

  &-list {
    text-align: center;

    &__item {
      display: inline-block;
      float: none;
      vertical-align: top;

      .fa {
        font-size: 144px;
      }
    }

    &__text {
      margin-top: 35px;
      font-size: 25px;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}