.faq {
  &-section {
    background: url(../images/bg/faq-bg.jpg) center top;
    color: $white;
    padding: 77px 0 110px;
		
		@media #{$mobile768} {
			padding: 25px 0 35px;
		}

		&.fangs-line {
      &:before {
        background-position: center -18px;
      }
    }
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 335px;
		
		@media #{$mobile768} {
			padding-left: 0;
			text-align: center;
		}
  }

  &-body {
    @extend %clearfix;
    margin-top: 70px;
		
		@media #{$mobile768} {
			margin-top: 30px;
		}
  }

  &-list {
    float: left;
    width: 336px;
    box-sizing: border-box;
    padding: 5px 25px 0;
    font-size: 18px;
		
		@media #{$mobile768} {
			float: none;
			width: 100%;
			margin-bottom: 55px;
			padding: 0;
		}

    &__item {
      color: rgba($white, .5);
      text-transform: uppercase;
      transition: $trans;
      margin-bottom: 45px;
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 12px;
        left: 0;
        width: 207px;
        top: 100%;
        padding-top: 10px;
        transition: $trans;
        background: url(../images/icons/faq-item-line.png) left bottom repeat-x;
        opacity: 0;
      }

			@media #{$mobile768} {
				margin-bottom: 30px;
				
				&:after {
					padding-top: 5px;
				}
			}
			
      &:last-child {
        margin-bottom: 0;
      }

      &.active,
      &:hover {
        color: $yellowc4;
        &:after {
          opacity: 1;
        }
      }
    }

    .fa {
      width: 30px;
    }
  }

  &-tab {

    &s__sections {
      margin-left: 336px;
      position: relative;
      font-size: 25px;
      margin-right: 90px;

      @media #{$desk1440} {
        margin-right: 20px;
      }
		
		@media #{$mobile768} {
			margin: 0;
		}

      .faq-tab__title:first-of-type {
        margin-top: 0;
      }
    }

    &__title {
      color: $yellowd5;
      margin: 45px 0 20px;
    }

    &__text {
      line-height: 1.2;
    }
  }
}


.winners {
	&-section {
		background: url(../images/bg/winners-bg.jpg) center top;
    padding: 45px 0;
		
		@media #{$mobile768} {
			padding: 30px 0;
		}
		
		.main-container {
			padding: 0 20px;
		}
		
		&.fangs-line {
      &:before {
        background-position: center -54px;
      }
    }
	}
	
	&-inner {
		 @extend %clearfix;
	}
	
	&-list {
		width: 50%;
		float: left;
		
		@media #{$mobile768} {
			width: 100%;
			float: none;
		}

		&__yellow,
		&__purple {
			&.mark {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: -8px;
					right: -10px;
					height: 48px;
					width: 37px;
					background-image: url(../images/icons/winners-mark.png);
					background-repeat: no-repeat;
					background-size: 72px 48px;
				}
			}
		}

		&__yellow {
			.winners-list__item {
				background: rgba($yellowd8, .5);
			}
		}

		&__purple {
			.winners-list__item {
				background: rgba(#f364c3, .5);
			}
			&.mark {
				&:after {
					background-position: -37px 0;
				}
			}
		}
		
		&__left {
			padding-right: 15px;
			
			@media #{$mobile768} {
				padding-right: 0;
				margin-bottom: 25px;
			}
			
			.title {
				color: $yellowd8;
			}
		}
		
		&__right {
			padding-left: 15px;
			
			@media #{$mobile768} {
				padding-left: 0;
			}

			.title {
				color: #f364c3;
				
				&:after {
					background-position: -63px 0;
				}
			}
		}
		
		.title {
			font-size: 22px;
			margin-bottom: 35px;
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -10px;
				width: 63px;
				height: 83px;
				background-image: url(../images/icons/winners-mark.png);
				background-repeat: no-repeat;
			}
		}
		
		.zigzag {
			margin-top: 25px;
		}
		
		&__item {
			display: table;
			width: 100%;
			color: $white;
			padding: 0 10px;
			margin-bottom: 15px;
		}
		
		&__image,
		&__description {
			display: table-cell;
			vertical-align: middle;
			padding: 10px;
		}
		
		&__description {
			.winner {
				margin-bottom: 8px;
				font-size: 14px;
			}
			
			.amount {
				font-family: $roboto;
				font-weight: $medium;
				float: left;
				color: $yellowd8;
			}
			
			.link {
				float: right;

				a {
					font-size: 12px;
					color: $white;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		
		&__image {
			width: 110px;
		}
	}
}

.sign-up {
	&-section {
		padding: 45px 0 70px;
		background: $yellowd8;
		
		@media #{$desk992} {
			padding: 30px 0 45px;
		}
		
		&.fangs-line {
      &:before {
        background-position: center -63px;
      }
    }
	}
	
	&-title,
	&-marks,
	&-button {
		display: inline-block;
		vertical-align: middle;
	}
	
	&-title {
		font-size: 40px;
		color: $gray20;
		
		span {
			font-size: 70px;
		}
		
		@media #{$desk1250} {
			width: 520px;
			text-align: center;
		}
		@media #{$mobile768} {
			width: 100%;
			display: block;
		}
	}
	
	&-marks {
		position: relative;
		width: 200px;
		margin: 0 120px;
		height: 90px;
		
		span {
			font-size: 61px;
			color: $gray20;
			position: absolute;
			cursor: default;
		}

		&__1 {
			top: -25px;
			left: 10px;
			transform: rotate(-25deg);
		}
		&__2 {
			top: -15px;
			left: 75px;
			transform: rotate(-10deg);
		}
		&__3 {
			top: -30px;
			left: 135px;
			transform: rotate(25deg);
		}
		&__4 {
			top: 50px;
			left: 25px;
			transform: rotate(25deg);
		}
		&__5 {
			top: 45px;
			left: 70px;
			transform: rotate(-25deg);
		}
		&__6 {
			top: 65px;
			left: 115px;
			transform: rotate(20deg);
		}
		&__7 {
			top: 40px;
			left: 155px;
			transform: rotate(-25deg);
		}
		
		
		@media #{$desk1440} {
			margin: 0 30px;
		}
		@media #{$desk1250} {
			margin: 0;
		}
		@media #{$mobile768} {
			display: block;
			margin: 40px auto;
		}
	}
	
	&-button {
		width: 270px;
		text-align: center;
		
		.btn {
			display: block;
		}
		
		@media #{$desk1250} {
			width: 250px;
		}
		@media #{$desk992} {
			width: 100%;
			display: block;
			margin-top: 30px;

			.btn {
				width: 300px;
				margin: auto;
			}
		}
		@media #{$mobile768} {
			margin-top: 50px;
			.btn {
				margin: 0 15px;
				width: auto;
			}
		}
	}
}