.faq {
  &-section {
    background: url(../images/bg/faq-bg.jpg) center top;
    color: $white;
    padding: 77px 0 110px;

		&.fangs-line {
      &:before {
        background-position: center -18px;
      }
    }
  }

  &-title {
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 335px;
  }

  &-body {
    @extend %clearfix;
    margin-top: 70px;
  }

  &-list {
    float: left;
    width: 336px;
    box-sizing: border-box;
    padding: 5px 25px 0;
    font-size: 18px;

    &__item {
      color: rgba($white, .5);
      text-transform: uppercase;
      transition: $trans;
      margin-bottom: 45px;
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 12px;
        left: 0;
        width: 207px;
        top: 100%;
        padding-top: 10px;
        transition: $trans;
        background: url(../images/icons/faq-item-line.png) left bottom repeat-x;
        opacity: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active,
      &:hover {
        color: $yellowc4;
        &:after {
          opacity: 1;
        }
      }
    }

    .fa {
      width: 30px;
    }
  }

  &-tab {

    &s__sections {
      margin-left: 336px;
      position: relative;
      font-size: 25px;
      margin-right: 90px;

      @media #{$desk1440} {
        margin-right: 20px;
      }

      .faq-tab__title:first-of-type {
        margin-top: 0;
      }
    }

    &__title {
      color: $yellowd5;
      margin: 45px 0 20px;
    }

    &__text {
      line-height: 1.2;
    }
  }
}


.winners {
	&-section {
		background: url(../images/bg/winners-bg.jpg) center top;
    padding: 45px 0;
		
		&.fangs-line {
      &:before {
        background-position: center -54px;
      }
    }
	}
	
	&-inner {
		 @extend %clearfix;
	}
	
	&-list {
		width: 50%;
		float: left;
		
		&__left {
			padding-right: 10px;
			.title {
				color: $yellowd8;
				border-bottom-color: $yellowd8;
			}
			
			.winners-list__item {
				background: rgba($yellowd8, .5);
			}
		}
		
		&__right {
			padding-left: 10px;
			.title {
				color: #f364c3;
				border-bottom-color: #f364c3;
			}
			
			.winners-list__item {
				background: rgba(#f364c3, .5);
			}
		}
		
		.title {
			font-size: 22px;
			border-bottom: 2px solid;
			padding-bottom: 25px;
			margin-bottom: 35px;
		}
		
		&__item {
			display: table;
			width: 100%;
			color: $white;
			margin-bottom: 15px;
		}
		
		&__image,
		&__description {
			display: table-cell;
			vertical-align: middle;
			padding: 10px;
		}
		
		&__image {
			width: 110px;
		}
	}
}

.sign-up {
	&-section {
		padding: 45px 0 70px;
		background: $yellowd8;
		
		&.fangs-line {
      &:before {
        background-position: center -63px;
      }
    }
	}
	
	&-title,
	&-marks,
	&-button {
		display: inline-block;
		vertical-align: middle;
	}
	
	&-title {
		font-size: 40px;
		color: $gray;
		
		span {
			font-size: 70px;
		}
	}
	
	&-marks {
		position: relative;
		width: 200px;
		margin: 0 30px;
		height: 90px;
		
		span {
			font-size: 61px;
			color: $gray;
			position: absolute;
			cursor: default;
		}

		&__1 {
			top: -25px;
			left: 10px;
			transform: rotate(-25deg);
		}
		&__2 {
			top: -15px;
			left: 75px;
			transform: rotate(-10deg);
		}
		&__3 {
			top: -30px;
			left: 135px;
			transform: rotate(25deg);
		}
		&__4 {
			top: 50px;
			left: 25px;
			transform: rotate(25deg);
		}
		&__5 {
			top: 45px;
			left: 70px;
			transform: rotate(-25deg);
		}
		&__6 {
			top: 65px;
			left: 115px;
			transform: rotate(20deg);
		}
		&__7 {
			top: 40px;
			left: 155px;
			transform: rotate(-25deg);
		}
	}
	
	&-button {
		width: 270px;
		text-align: center;
		
		.btn {
			width: 100%;
		}
	}
}