.banner {
	&-section {
		background: #e3e3e3;
		display: table;
		width: 100%;
	}
	
	&-left,
	&-right {
		width: 50%;
		display: table-cell;
		vertical-align: middle;
		padding: 50px;
		background-size: cover;
		color: $white;
		
		@media #{$desk1440} {
			padding: 50px 35px;
		}
		@media #{$desk1250} {
			padding: 40px 25px;
		}
		@media #{$desk992} {
			display: block;
			width: 100%;
		}
		@media #{$mobile768} {
			padding: 30px 20px 35px;
		}
	}

	&-left {
		background-image: url(../images/bg/banner-first-bg.jpg);
		
		&__description {
			width: 610px;
			float: right;
			color: $white;
			
			h2 {
				font-size: 78px;
				text-transform: uppercase;
			}
			
			p {
				font-size: 25px;
				margin-top: 10px;
				text-transform: uppercase;
				
				span {
					font-size: 35px;
				}
			}
			
			.btn-tape {
				margin-top: 20px;
				color: #0e0e0e;
			}
			
			@media #{$desk1440} {
				width: 540px;
			}
			@media #{$desk1250} {
				width: 450px;
				padding: 30px;
				
				h2 {
					font-size: 65px;
				}
					
				.btn-tape {
					display: block;
					width: auto;
					float: none;
					margin: 20px 15px 0;
				}
			}
			@media #{$mobile768} {
				padding: 0;
			}

			@media #{$desk992} {
				float: none;
				width: 100%;
				
				.btn-tape {
					max-width: 240px;
					margin: 20px auto 0;
				}
			}
			@media #{$mobile768} {
				h2 {
					font-size: 55px;
				}

				p {
					font-size: 20px;

					span {
						font-size: 25px;
					}
				}
			}
			@media #{$mobile480} {
				.btn-tape {
					max-width: 100%;
					margin: 20px 15px 0;
				}
			}
		}
	}

	&-right {
		background-image: url(../images/bg/banner-second-bg.jpg);
		
		&__description {
			width: 610px;
			float: left;
			color: $white;
			background: rgba(#d6dd3b, .85);
			padding: 30px;
			color: $gray20;
			position: relative;
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				display: block;
				height: 11px;
				background-image: url(../images/icons/banner-right-tape.png);
				opacity: .85;
			}

			&:before {
				bottom: 100%;
			}

			&:after {
				top: 100%;
				background-position: 0 -11px;
			}
			
			h1 {
				font-size: 135px;
				text-transform: uppercase;
			}
			
			h2 {
				font-size: 44px;
				text-transform: uppercase;
			}
			
			form {
				margin-top: 20px;
				@extend %clearfix;
				
				input {
					width: 45%;
					float: left;
					font-size: 25px;
					font-weight: $medium;
					color: $gray20;
					outline: none;
					border: none;
					background: transparent;
					border-bottom: 3px solid $gray20;
					margin-top: 24px;

					&::-webkit-input-placeholder {color: $gray20;}
					&::-moz-placeholder          {color: $gray20;}
					&:-moz-placeholder           {color: $gray20;}
					&:-ms-input-placeholder      {color: $gray20;}
				}
				
				.btn-tape {
					width: 45%;
					float: right;
				}
			}
			
			@media #{$desk1440} {
				width: 540px;
				
				h1 {
					font-size: 110px;
				}
				
				form {
					.btn-tape {
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}
			@media #{$desk1250} {
				width: 450px;

				h1 {
					font-size: 95px;
				}
				
				form {
					input {
						margin-top: 0;
						width: 100%;
						float: none;
					}
					
					.btn-tape {
						display: block;
						width: auto;
						float: none;
						margin: 20px 15px 0;
					}
				}
			}
			@media #{$desk992} {
				float: none;
				width: 100%;
				
				form {
					.btn-tape {
						max-width: 240px;
						margin: 20px auto 0;
					}
				}
			}
			@media #{$mobile768} {
				padding: 20px;
				
				h1 {
					font-size: 55px;
				}
				h2 {
					font-size: 30px;
					margin-top: 4px;
				}
				
				form {
					margin-top: 10px;
					
					.btn-tape {
						padding-left: 10px;
						padding-right: 10px;
						margin: 20px auto 0;
					}
				}
			}
			@media #{$mobile480} {
				form {
					.btn-tape {
						max-width: 100%;
						margin: 20px 15px 0;
					}
				}
			}
		}
	}
}


.games {
	&-section {
    background: url(../images/bg/games-bg.jpg) center top;
		padding: 25px 0 60px;
		
		@media #{$mobile480} {
			padding-bottom: 15px;
		}
		
		&.fangs-line {
      &:before {
        background-position: center -72px;
      }
    }
	}
	
	&-body {
		padding: 0 100px;
		
		@media #{$desk1440} {
			padding: 0 5px;
		}
		@media #{$desk1250} {
			padding: 0;
		}
	}

&-winners {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
	margin-bottom: 25px;
	
	&__item {
		flex: 1 auto;
		margin-right: 28px;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	@media #{$desk992} {
		flex-wrap: wrap;
		
		&__item {
			margin-right: 15px;
			&:nth-child(2n + 2) {
				margin-right: 0;
			}
		}
	}
	@media #{$mobile768} {
		display: block;

		&__item {
			margin-right: 0;
		}
	}
}
	
	&-top {
		@extend %clearfix;
		margin-bottom: 40px;
		
		@media #{$mobile480} {
			margin-bottom: 25px;
		}
	}
	
	&-list {
		@extend %clearfix;
		padding-right: 7px;
		width: 75%;
		float: left;
		position: relative;
		
		&:before {
			@extend .zigzag;
			
			content: '';
			position: absolute;
			width: calc(100% - 8px);
			top: 100%;
			left: 0;
			background-position: 0 -33px;
		}
		
		@media #{$desk992} {
			float: none;
			width: 100%;
			padding-right: 0;
			
			&:before {
				width: 100%;
			}
		}
		@media #{$mobile480} {
			&:before {
				content: none;
			}
		}
		
		&__item {
			float: left;
			width: 33.333%;
			font-family: $roboto;
			font-size: 25px;
			font-weight: $medium;
			color: $white;
			padding: 20px;
			position: relative;
			cursor: pointer;
			text-align: center;
			transition: all, 0.4s, linear;
			
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
				border-bottom: 10px solid $yellowe6;
        opacity: 0;
				z-index: 5;
				transition: all, 0.4s, linear;
      }
			
			&.active {
				color: $yellowbb;
				
				&:after {
					opacity: 1;
				}
			}
			
			@media #{$desk1250} {
				padding: 15px 10px;
				font-size: 22px;
			}
			@media #{$mobile480} {
				padding: 10px;
				float: none;
				width: 100%;
				border: 2px solid transparent;

				&:after {
					content: none;
				}

				&.active {
					border: 2px solid $yellowe6;
				}
			}
		}
	}
	
	&-search {
		padding-left: 23px;
		width: 25%;
		float: right;
		
		@media #{$desk992} {
			margin-top: 40px;
			float: none;
			width: 100%;
			padding-left: 0;
		}
		@media #{$mobile480} {
			margin-top: 25px;
		}
	}
	
	&-tab {
		&__section {
			color: $white;
			@extend %clearfix;
			
			@media #{$desk1250} {
				padding: 0 34px;
			}
			@media #{$desk992} {
				padding: 0 60px;
			}
			@media #{$mobile768} {
				padding: 0 10px;
			}
			@media #{$mobile480} {
				padding: 0;
			}

			.tabs-section__inner {
			 @extend %clearfix;
			}
			.load-more {
				margin-top: 20px;
				
				.btn {
					width: 600px;
					display: block;
					margin: auto;
				}
			}
		}
	}
	
	&-item {
		display: block;
		width: 288px;
		height: 214px;
		float: left;
		margin-right: 29px;
		margin-bottom: 29px;
		text-decoration: none;
		position: relative;
		
		&:nth-child(4n + 4) {
			margin-right: 0;
		}
		
		@media #{$desk1250} {
			&:nth-child(4n + 4) {
				margin-right: 29px;
			}
			
			&:nth-child(3n + 3) {
				margin-right: 0;
			}
		}
		@media #{$desk992} {
			&:nth-child(3n + 3) {
				margin-right: 29px;
			}
			&:nth-child(2n + 2) {
				margin-right: 0;
			}
		}
		@media #{$mobile480} {
			margin: 0 auto 25px !important;
			float: none;
		}
		
		&.star,
		&.new {
			&:before,
			&:after {
				content: '';
				position: absolute;
				border: 35px solid transparent;
			}
			
			&:before {
				top: 2px;
				right: 2px;
				z-index: 10;
			}
			
			&:after {
				border: 39px solid transparent;
				border-top-color: #1f2346;
				border-right-color: #1f2346;
				z-index: 5;
				top: 0;
				right: 0;
			}
		}
		
		&.star {
			&:before {
				border-top-color: $yellowe6;
				border-right-color: $yellowe6;
			}
			
			.games-item__image:after {
    		content: "\f005";
				position: absolute;
				top: 14px;
				right: 11px;
				z-index: 15;
				
				font-family: FontAwesome;
				font-size: 24px;
				font-style: normal;
				font-weight: normal;
				color: #202347;
			}
			
			.games-item__name {
				background: rgba($yellowe6, .45);
			}
		}
		
		&.new {
			&:before {
				border-top-color: #fb66c9;
				border-right-color: #fb66c9;
			}
			
			.games-item__image:after {
    		content: "new";
				position: absolute;
				top: 18px;
				right: 7px;
				z-index: 15;
				
  			font-family: $rBlack;
				font-size: 16px;
  			font-weight: 600;
				text-transform: uppercase;
				color: #202347;
				transform: rotate(47deg);
				
    		-webkit-backface-visibility: hidden;
			}
			
			.games-item__name {
				background: rgba(#fb66c9, .45);
			}
		}
		
		&__image {
			display: table;
			width: 100%;
			height: 155px;
			background-size: cover;
			position: relative;
			transition: all, 0.4s, linear;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba($yellowe6, .6);
				transition: all, 0.4s, linear;
				opacity: 0;
				visibility: hidden;
			}
			
			.image-inner {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				position: relative;
				z-index: 5;
				transition: all, 0.4s, linear;
				opacity: 0;
				visibility: hidden;
				
				.icon,
				span {
					display: inline-block;
					vertical-align: middle;
				}
				
				.icon {
					position: relative;
					width: 74px;
					
					.play {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 5;
					}
					
					.rotate {
						-webkit-animation: rotate 4s linear infinite;
						-moz-animation: rotate 4s linear infinite;
						animation: rotate 4s linear infinite;
					}
				}
				
				span {
					font-size: 34px;
					color: #202347;
					text-transform: uppercase;
				}
			}
		}
		
		&__name {
			display: table;
			width: 100%;
			height: calc(100% - 155px);
			text-align: center;
			background: rgba(#0e1356, .45);
			font-size: 18px;
			text-transform: uppercase;
			color: $white;
			position: relative;
			transition: all, 0.4s, linear;
			
			&:before {
				@extend .fangs-line:before;
				
				background-position: 0 -81px;
				transition: all, 0.4s, linear;
				opacity: 0;
				visibility: hidden;
			}
			
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
		
		&:hover {
			.games-item__image {
				&:before {
					opacity: 1;
					visibility: visible;
				}
				
				.image-inner {
					opacity: 1;
					visibility: visible;
				}
			}
			.games-item__name {
				background: $yellowe6;
				color: $violet20;
				
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}



