.promotions {
	&-section {
		background: url(../images/bg/promotions-bg.jpg) center top;
		padding: 50px 0;
		
		.main-container {
			padding: 0 95px;
		}
		
		@media #{$desk1440} {
			.main-container {
				padding: 0 60px;
			}
		}
		@media #{$desk1250} {
			.main-container {
				padding: 0 40px;
			}
		}
		@media #{$desk992} {
			padding: 25px 0;

			.main-container {
				padding: 0 20px;
			}
		}
	}
	
	&-deposits {
		&__item {
			@extend %clearfix;
			margin-bottom: 70px;
			
			@media #{$mobile768} {
				margin-bottom: 25px;
			}
		}
		
		&__left {
			width: 290px;
			float: left;
			
			.service-list__top {
				font-size: 30px;
				text-transform: uppercase;
				
				span {
					line-height: 100px;
				}
			}
			
			.spins {
				text-align: center;
				font-size: 35px;
				line-height: 40px;
				text-transform: uppercase;
				color: $white;
				padding-top: 25px;
				
				&.purple {
					color: #d9238c;
				}
				
				&.yellow {
					color: #d6de22;
				}
			}
			
			&.yellow {
				.service-list__top {
					color: #1f1e29;
				}
			}
			
			@media #{$mobile768} {
				width: 100%;
				float: none;
				
				.service-list__top {
					font-size: 25px;

					span {
						font-size: 70px;
						line-height: 80px;
					}
				}
				
				.spins {
					padding-top: 15px;
				}
			}
		}
		
		&__text {
			width: calc(100% - 290px);
			float: right;
			padding-left: 32px;
			padding-top: 50px;
			color: $white;
			
			h1 {
				font-size: 50px;
				text-transform: uppercase;
				margin-bottom: 35px;
			}
			
			p {
				font-size: 30px;
				text-transform: uppercase;
			}
			
			@media #{$mobile768} {
				width: 100%;
				float: none;
				padding-left: 0;
				padding-top: 20px;
			}
		}
	}

	&-vouchers {
		padding: 75px;
		background-image: url(../images/promotions.png);
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
		margin-bottom: 40px;
		
		&.yellow {
			background-color: #d6de22;
		}
		
		&.pink {
			background-color: #d9238c;
			
			.promotions-vouchers__inner {
				h2,
				p {
					color: $white;
				}
			}
		}
		
		&.blue {
			background-color: #2e3485;
			
			.promotions-vouchers__inner {
				h2,
				p {
					color: $white;
				}
				
				.btn {
					color: #1d1727;
				}
			}
		}
		
		&__inner {
			width: 550px;
			
			h2 {
				font-size: 45px;
				text-transform: uppercase;
				margin-bottom: 30px;
				letter-spacing: -2px;
			}
			
			p {
				font-size: 30px;
				text-transform: uppercase;
				margin-bottom: 30px;
				letter-spacing: 1px;
			}
			
			.btn {
				min-width: 300px;
			}
		}
		
		@media #{$desk992} {
			padding: 40px;
			background-position: top right -210px;
			
			&__inner {
				width: 100%;
			}
		}
		@media #{$mobile768} {
			margin-bottom: 20px;
		}
		@media #{$mobile480} {
			padding: 20px;
			background-position: top right -420px;

			&__inner {
				h2 {
					font-size: 35px;
					margin-bottom: 15px;
				}

				p {
					font-size: 24px;
					margin-bottom: 15px;
				}

				.btn {
					display: block;
					min-width: auto;
					padding: 17px 10px;
				}
			}
		}
	}
}