.header {
  background-color: $violet2e;

  &-xs {
    display: none;

    @media #{$desk992} {
      display: block;
    }
  }

  &-inner {
    width: 1440px;
    margin: 0 auto;
    @extend %clearfix;

    @media #{$desk1440} {
      width: 1250px;
    }

    @media #{$desk1250} {
      width: 992px;
    }

    @media #{$desk992} {
      width: 768px;
    }
		@media #{$mobile768} {
			width: 100%;
		}
  }

  &-logo {
    display: block;
    width: 183px;
		height: 81px;
    float: left;
    background-color: $violet20;
    padding: 23px 0 6px;
    position: relative;
		z-index: 5;
		transition: all 0.3s linear;
		
		&:hover {
			opacity: .7;
		}

    @media #{$desk992} {
      width: 170px;
			height: 71px;
			padding-top: 21px;
      background-color: $violet27;

      &:after {
       content: '';
       width: 0;
       height: 0;
       display: block;
       top: 0;
       right: 0;
       position: absolute;
       border: 35px solid transparent;
       border-bottom-width: 36px;
       border-right-color: $violet2e;
      }
    }

    img {
      display: block;
			height: 42px;
      margin: 0 auto;

      @media #{$desk992} {
        height: 36px;
        margin-left: 24px;
      }
    }
  }

  &-box {
    padding-left: 183px;
    position: relative;

    @extend %clearfix;

    @media #{$desk992} {
      padding-right: 20px;
    }
  }

  &-nav {
    @extend %clearfix;

    @media #{$desk992} {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      width: 240px;
      padding: 85px 25px 20px 30px;
      background-color: $blue1b;
      display: none;

      &:before {
        content: '';
        background: url(../images/icons/nav-mob-border.png) repeat-y;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 4px;
        position: absolute;
      }
    }

    &__close {
      display: none;
      position: absolute;
      font-size: 37px;
      right: 20px;
      top: 15px;
      width: 20px;
      height: 20px;
      background: url(../images/icons/nav-close.png) no-repeat center;
      color: $white;
      font-family: $roboto;
      font-weight: $light;

      @media #{$desk992} {
        display: block;
      }
    }

    &__open {
      display: none;
      padding: 0;
      width: 36px;
      background: none;
      border: none;
      height: 30px;
      margin-top: 20px;
      margin-left: 20px;
      outline: none;

      .line {
        display: block;
        width: 100%;
        height: 4px;
        position: relative;
        background-color: $grayed;

        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: $grayed;
          width: 100%;
          height: 4px;
          left: 0;
        }

        &:before {
          top: -10px;
        }

        &:after {
          bottom: -10px;
        }
      }

      @media #{$desk992} {
        display: block;
      }
    }
  }

  &-list {
    @extend %clearfix;
    padding-left: 15px;
    float: left;

    @media #{$desk992} {
      padding-left: 0;
      margin-top: 20px;
      float: none;
    }

    &__item {
      float: left;
      color: $white;

      @media #{$desk992} {
        float: none;
        margin: 10px 0;
      }

      &.hidden-xs {
        @media #{$desk992} {
          display: none;
        }
      }

      &:hover {
        color: $yellowbb;
      }
    }

    &__link {
      color: inherit;
      text-decoration: none;
      font-size: 18px;
      transition: $trans;
      display: block;
      padding: 31px 16px;

      @media #{$desk1250} {
        padding: 31px 10px;
      }

      @media #{$desk992} {
        padding: 22px 0;
        text-transform: uppercase;
      }
    }
  }

  &-lang {
    float: left;
    padding: 22px 15px 25px;

    &.dropdown-open {
      background-color: $blue1b;

      &:before {
        content: '';
        background: url(../images/icons/nav-mob-border.png) repeat-y;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 4px;
        position: absolute;

        @media #{$desk992} {
          content: none;
        }
      }
    }

    &__dd {
      width: 260px;
      padding: 12px 15px;
      background-color: $blue1b;
      left: 0;

      .header-lang__icon {
        float: left;
        margin: 5px 15px 5px 0;

        &:nth-of-type(5n) {
          margin-right: 0;
        }

        @media #{$desk992} {
          margin-right: 14px;

          &:nth-of-type(5n) {
            margin-right: 14px;
          }

          &:nth-of-type(4n) {
            margin-right: 0;
          }
        }
      }

      &:before {
        content: '';
        background: url(../images/icons/nav-mob-border.png) repeat-y;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 4px;
        position: absolute;
      }

      @media #{$desk992} {
        width: 240px;
        left: -30px;

        &:before {
          background-position: 0 -3px;
        }
      }
    }

    &__icon {
      display: block;
      font-size: 34px;
      border-radius: 50%;
      cursor: pointer;

      @media #{$desk992} {
        font-size: 42px;
      }
    }

    @media #{$desk1250} {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media #{$desk992} {
      position: absolute;
      left: 30px;
      top: 13px;
      margin: 0;
      padding: 0;
    }
  }

  &-r {
    float: right;
		padding-top: 20px;

    @media #{$desk992} {
      display: none;
    }
  }

  &-user {
    margin-left: 39px;
    margin-right: 9px;
    font-size: 18px;
    vertical-align: middle;
    float: right;
    padding: 19px 0;

    @media #{$desk1250} {
      margin-left: 29px;
    }

    @media #{$desk992} {
      padding: 15px 0;
    }

@media #{$mobile768} {
	display: none;
}

    &__name {
      color: $yellowd8;

      &:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 7px;
        background-image: url(../images/icons/user-arrow-down.png);
        vertical-align: middle;
        margin-left: 10px;
        margin-top: -1px;
      }
    }

    &__cash {
      text-transform: uppercase;
      color: $white;
      margin-top: 5px;
      display: inline-block;
    }
  }

  &-sign {
    padding: 10px 19px;
    display: block;
  }

  &-search {
    border: 2px solid $white;
    position: relative;
    margin-top: 30px;
    box-shadow: inset 0 0 0 1px $grayd7;
    display: none;

    @media #{$desk992} {
      display: block;
    }

    &__input {
      display: block;
      background: none;
      font-size: 18px;
      color: $white;
      padding: 7px 50px 8px 15px;
      border: none;
      width: 100%;
      outline: none;

      &::-webkit-input-placeholder {color:$white;}
      &::-moz-placeholder          {color:$white;}
      &:-moz-placeholder           {color:$white;}
      &:-ms-input-placeholder      {color:$white;}
    }

    &__btn {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 37px;
      display: block;
      border: none;
      border-radius: 0;
      background: $white;
      font-size: 20px;
      color: $blue16;
      outline: none;

      &:before {
        content: '';
        width: 11px;
        height: 100%;
        position: absolute;
        right: 100%;
        top: 0;
        background: url(../images/icons/search-btn-border.png) no-repeat;
      }
    }
  }
}